<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>contact</title>
</head>
<body>
    <a href="/" >home</a>
    <a href="/contact" style="color:green">Contact</a>
    <a href="/our-services" >our Services</a>
    <h3>welcome to the contact page. </h3>
   </body>
</body>
</html>